.modal-header {
  background-color: #385A0E;
  color: whitesmoke;
}

.modal-body {
  background-color: #527506;
  color: whitesmoke;
}

.modal-footer {
  background-color: #385A0E;
  color: whitesmoke;
}

.modal-footer .btn-primary {
  background-color: #95950E;
  color: whitesmoke;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}
.modal-footer .btn-primary:hover {
  background-color: #C3C20E;
}
