.nutrition-calculator {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nutrition-calculator h2 {
    margin-top: 2rem;
    margin-bottom: 4rem;
    font-weight: bold;
    font-size: 3rem;
  }

  .custom-font-size {
    font-size: 1.25rem;
  }
  