.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(var(--bs-emphasis-color-rgb), 0.65);
    color: gray;
    text-align: center;
    padding: 1rem 0;
  }