.home-container {
  text-align: center;
}

.hero-section {
  background-image: url('/assets/images/background4.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #527506;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  position: relative;
  padding-bottom: 200px;

  h1 {
    font-size: 4em;
    margin-bottom: 10px;
  }

  p {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .discover-button {
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #527506;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #385a0e;
      box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
    }
  }

  .image-gallery {
    position: absolute;
    margin-top: 20px;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 90px;
    overflow-x: auto;

    .image-item {
      position: relative;
      margin: 15px;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      .overlay-text {
        position: absolute;
        top: -20px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        font-size: 1.2em;
        background: rgba(0, 0, 0, 0.6);
        padding: 10px;
        border-radius: 20px;
      }

      img {
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
      }
    }

    .image-item:hover {
      transform: translateY(-10px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
    }
  }
}

.content-section {
  background-color: #C3C20E;
  padding: 50px 20px;

  .description {
    margin-bottom: 40px;

    h2 {
      font-size: 2.5em;
      color: #527506;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2em;
      color: #666;
    }
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 1200px;
    margin: auto;
  }

  .card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
  }

  .card-icon {
    font-size: 40px;
    color: #FEE50F;
    margin-bottom: 10px;
  }

  .card h3 {
    font-size: 24px;
    margin: 10px 0;
    color: black;
  }
  .home-container {
    text-align: center;
  }

  .hero-section {
    background-image: url('/assets/images/background4.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #527506;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    position: relative;
    padding-bottom: 200px;

    h1 {
      font-size: 4em;
      margin-bottom: 10px;
    }

    p {
      font-size: 1.8em;
      margin-top: 0;
      margin-bottom: 30px;
    }

    .discover-button {
      margin-top: 20px;
      margin-bottom: 100px;
      padding: 10px 30px;
      font-size: 1.2em;
      color: white;
      background-color: #527506;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #385a0e;
        box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.8);
      }
    }

    .image-gallery {
      position: absolute;
      margin-top: 20px;
      bottom: 0;
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 90px;
      overflow-x: auto;

      .image-item {
        position: relative;
        margin: 15px;
        cursor: pointer;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        .overlay-text {
          position: absolute;
          top: -20px;
          left: 50%;
          transform: translateX(-50%);
          color: white;
          font-size: 1.2em;
          background: rgba(0, 0, 0, 0.6);
          padding: 10px;
          border-radius: 20px;
        }

        img {
          width: 300px;
          height: 200px;
          object-fit: cover;
          border-radius: 20px;
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
        }
      }

      .image-item:hover {
        transform: translateY(-10px);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
      }
    }
  }

  .content-section {
    background-color: #C3C20E;
    padding: 50px 20px;

    .description {
      margin-bottom: 40px;

      h2 {
        font-size: 2.5em;
        color: #527506;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.2em;
        color: #666;
      }
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 50px;
      max-width: 1200px;
      margin: auto;
    }

    .card {
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.7);
      padding: 20px;
      width: 300px;
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-10px);
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.8);
    }

    .card-icon {
      font-size: 40px;
      color: #FEE50F;
      margin-bottom: 10px;
    }

    .card h3 {
      font-size: 24px;
      margin: 10px 0;
      color: black;
    }

    .card p {
      font-size: 16px;
      color: #666;
    }
  }

  .card p {
    font-size: 16px;
    color: #666;
  }
}
